<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PIENA</title>
</head>
<body>
    <!-- Contenitore per Particles.js -->
    <div id="particles-js"></div>
    
    <!-- Contenitore principale -->
    <div class="container">
        <!-- Menu -->
        <div class="menu">
            <button id="menu-button" class="menu-button">MENU &#9776;</button>
            <div class="dropdown-content">
                <a href="{{ url_for('bio') }}">Bio</a>
                <a href="#works">works</a>
                <a href="#lives">lives</a>
                <a href="#photos">photos</a>
                <a href="#instagram">instagram</a>
                <a href="#spotify">spotify</a>
            </div>
        </div>
        
        <!-- Contenuto principale -->
        <div class="content">
            <header>
                <h1>PIENA</h1>
            </header>
            <div class="scrollable-content">
                <!-- Sezione BIO -->
                <section id="news">
                    <h2>News</h2>
                    <div class="card">
                        <p><strong>24/09/05:</strong> New album released. <a href="#">+ Open</a></p>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- Audio -->
    <audio id="background-audio" src="static/audio/mysound.mp3"></audio>

    <!-- Script -->
    <script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/particles-config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/audio.js') }}"></script> <!-- Aggiunto script audio -->
</body>
</html>
